mixin building-card(img, name, address, poPrice, ddPrice, hdPrice, buttonLink, banner, presale)
	.building-card
		if banner
			.banner= banner
		
		.image(style="background-image: url('" + img + "');")
			.arrows
				.arrow: i.bi_interface-left
				.arrow: i.bi_interface-right

			.pagination
				.dot
				.dot
				.dot
				.dot
				.dot
		
		.text-container
			.info
				.row
					.col-xs-12.text-center
						h3.title-2= name
				
				.row
					.col-xs-12.text-center
						p.copy-3= address
						br

				if poPrice || poPrice || hdPrice
					.row
						.col-xs-12
							p.copy-4.text-gray Starting prices, per person:

				if poPrice
					.row
						.col-xs-6
							p.copy-3 Private Office
						.col-xs-6.text-right
							p.copy-3= poPrice
								span /mo

				if ddPrice
					.row
						.col-xs-6
							p.copy-3 Dedicated Desk
						.col-xs-6.text-right
							p.copy-3= ddPrice
								span /mo

				if hdPrice
					.row
						.col-xs-6
							p.copy-3 Hot desk
						.col-xs-6.text-right
							p.copy-3= hdPrice
								span /mo

				if presale
					.row
						.col-xs-12
							p.copy-3 Move in ahead of the curve with special pre-opening rates.

			.row
				.col-xs-12
					a.btn.btn--primary-navigation Explore Location